.draggable {
  border: 1px solid #C1C1C1;
  width: 90px;
  height: 40px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
}

.droppable {
  width: 30%;
  border: 1px dotted #C1C1C1;
  height: 80px;
  float: left;
  clear: both;
  margin-left: 10%;
}

.wool img {
  width: 30%;
}
